/* Client class */
.client_action_link {
    margin:2px;
    cursor:pointer;
    max-width:24px;
    float:left;
}
.context-menu-one{
    border-top:0;
    float:left;
    padding:0;
    z-index:9003;
}

#client_status_container{ margin:30px 0 20px 25px; float:left;min-width:250px; }
#killed_clients_container{ margin:30px 0 10px 20px; float:left; min-width:250px;}
#killed_clients{ font-size: .85em; margin-bottom:40px; }
.client_div{ font-size: .85em; margin-bottom:20px; display:none; }
.client_data{ border-bottom:1px solid #999; padding-bottom:5px; margin-bottom:5px;}
.client_values{ text-align:right; }
.client_keys{ float:left; font-weight:bold; }
.client_tfc{ float:left; margin:1px 0 0 35px; }
.client_hidden_data{ display:none; }
.unkill_me { margin: 0 0 40px 0; border-bottom: border-bottom:1px solid #999; }

/* 
	Override flexigrid default
    style to apply round corners
*/
.mDiv {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-moz-border-top-right-radius: 5px;
}
.vGrip { 
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
}
.flexigrid { 
    display: none;
    z-index:3001; 
    font-family: Verdana, helvetica, arial, sans-serif;
    font-size:0.85em;
}
.flexigrid div.fbutton .add {
    background: url(../js/Flexigrid/demo/images/add.png) no-repeat center left;
}

.flexigrid div.fbutton .delete {
    background: url(../js/Flexigrid/demo/images/close.png) no-repeat center left;
}

.flexigrid div.fbutton .block {
    background: url(/static/images/kill_client.png) no-repeat center left;
}

.flexigrid div.fbutton .unblock {
    background: url(/static/images/unblock.png) no-repeat center left;
}

.flexigrid div.fbutton .edit {
    background: url(/static/images/edit-icon.png) no-repeat center left;
}

.flexigrid div.fbutton .properties {
    background: url(/static/images/properties.png) no-repeat center left;
}


/*
    Add icons to jQuery.context menu
*/
.context-menu-item.icon-block { background-image: url(/static/images/kill_client.png); }
.context-menu-item.icon-unblock { background-image: url(/static/images/unblock.png); }
