/* Main CSS for Ovpnc */
body, html {
	font-family: Verdana, helvetica, arial, sans-serif;
	font-size: 12px;
	color: #333;
/*	height:99%; */
}

div#outer{
/*	border:1px dotted black; */
	min-width:1024px;
	height:100%;
}

/* Main Devision Divs */
#top_header{
	width:100%;
	min-height:65px;
}

#top_header_content{
/*	margin:0 auto; */
	margin-left:10px;
	color:lightgray;
	padding:20px;
	max-width:20%;
	font-size:3em;
}

#left_frame{
/*	border: 1px dotted green; */
	/* margin-left:5%; */
/*	width:18%; */
	float:left;
}

#middle_frame{
/*	border: 1px dotted red; */
	padding-top:10px;
	min-width:565px;
	max-width:565px;
/*	width:55%; */
	float:left;
}

#right_frame{
/*	border: 1px dotted blue; */
/*	width:20%; */
/*	margin-right:5%; */
	float:left;
	padding-top:10px;
	max-width:255px;
	min-width:255px;
}

/* Global Definitions */
.hand_pointer{ cursor:pointer; }
.clear { clear:both; }
a, a:visited { color: #333; }
legend {
	padding:4px 20px 4px 20px;
	margin-left:20px;
	color: #fff;
	background-color:#333;
	font-size: 1em;
	font-family: Verdana, helvetica, arial, sans-serif;
}
#message_close{ float:right; margin: -2px -26px 0px 0px; }
.message {
	display:none;
	top:10px;
	margin:0px 20px 0px 25px;
	padding:10px 15px 10px 15px;
	font-size: 0.85em;
}

input:-webkit-autofill { color: #ffffff !important; }
input:focus { outline: none; }
input {
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:2px;
}
input:focus { 
    outline:none;
    border-color:#bbb;
    box-shadow:0 0 10px #999;
}

img{
	-webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

.login_box { max-width:320px; margin:90px 0px 0px 150px; }
#header{ text-align:center; }
#headerh1{ margin:0; }
#headerimg{ float:right; }
#footer{ text-align:center; font-style:italic; padding-top:20px; }
.error{ color:#f00; }

.right_div{
	min-width:220px;
	max-width:220px;
    margin:10px 10px 30px 10px;
}

.box_shadow{
	border:1px solid lightgray;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #ccc;
    box-shadow: 6px 8px 8px rgba(0,0,0,0.5),
	    inset 6px 8px 8px rgba(255,255,255,0.75);
    -o-box-shadow: 6px 8px 8px rgba(0,0,0,0.5),
	    inset 6px 8px 8px rgba(255,255,255,0.75);
    -webkit-box-shadow: 6px 8px 8px rgba(0,0,0,0.5),
	    inset 6px 8px 8px rgba(255,255,255,0.75);
    -moz-box-shadow: 8px 10px 10px rgba(0,0,0,0.5),
    	inset 6px 8px 8px rgba(255,255,255,0.75);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#aaaaaa'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#aaa)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ddd,  #aaa); /* for firefox 3.6+ */
}

.ok_icon{ margin: 3px 2px 0 0 ; }
.err_icon{ margin: 5px 2px 0 0 ; }

/* Server class */
#server_status_content{ margin:8px 0px 4px 10px; float:left; }
.server_title{ margin:10px 10px 50px 0px; padding:13px 10px 10px 10px;}
#server_version{ color: #ccc; }
#server_status{	color:red; }
#server_on_off{ float:right; }

