/* Main CSS for Ovpnc */
body, html {
	font-family: Verdana, helvetica, arial, sans-serif;
	font-size: 12px;
	color: #333;
/*	height:99%; */
}

div#outer{
	min-width:1105px;
	height:100%;
}

/* Main Devision Divs */
#top_header{
	min-height:60px;
}

#left_frame{
	width:18%;
	float:left;
}

#middle_frame{
	padding-top:10px;
	min-width:565px;
	width:55%;
	float:left;
}

#right_frame{
	width:20%;
	float:left;
}

#header_title{
	font-size:3em;
	top:25px;
	margin-left:25px;
	color:lightgray;
}

/* Global Definitions */
.hand_pointer{ cursor:pointer; }
.clear { clear:both; }
/*fieldset{ border:0; } */
legend {
	padding:4px 20px 4px 20px;
	margin-left:20px;
	color: #fff;
	background-color:#333;
	font-size: 1em;
	font-family: Verdana, helvetica, arial, sans-serif;
}
#message_close{ float:right; margin: -3px -26px 0px 0px; }
.message {
	display:none;
	top:10px;
	margin:0px 30px 0px 25px;
	padding:10px 15px 10px 15px;
}

input:focus { outline: none; } /* remove default focus outline effect */
input {
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:2px;
}
input:focus { 
    outline:none;
    border-color:#bbb;
    box-shadow:0 0 10px #999;
}

img{
	-webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

.login_box { max-width:400px;margin:90px 0px 0px 150px; }
#header{ text-align:center; }
#headerh1{ margin:0; }
#headerimg{ float:right; }
#footer{ text-align:center; font-style:italic; padding-top:20px; }
.error{ color:#f00; }

.right_div{
	min-width:265px;
	max-width:265px;
    margin:10px 10px 30px 10px;
}

.box_shadow{
	border:1px solid lightgray;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #ccc;
    box-shadow: 6px 8px 8px rgba(0,0,0,0.5),
	    inset 6px 8px 8px rgba(255,255,255,0.75);
    -o-box-shadow: 6px 8px 8px rgba(0,0,0,0.5),
	    inset 6px 8px 8px rgba(255,255,255,0.75);
    -webkit-box-shadow: 6px 8px 8px rgba(0,0,0,0.5),
	    inset 6px 8px 8px rgba(255,255,255,0.75);
    -moz-box-shadow: 8px 10px 10px rgba(0,0,0,0.5),
    	inset 6px 8px 8px rgba(255,255,255,0.75);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#999999'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#999)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ddd,  #999); /* for firefox 3.6+ */
}

/* Client class */
.client_action_link {
	margin:2px;
	cursor:pointer;
	max-width:24px;
}
#client_status_container{ margin-bottom:20px; }
.client_div{ font-size: .85em; margin-bottom:20px; display:none; }
.client_data{ border-bottom:1px solid black; padding-bottom:5px; margin-bottom:5px;}
.client_values{ text-align:right; }
.client_keys{ float:left; font-weight:bold; }
.client_hidden_data{ display:none; }

/* Server class */
#server_status_content{ margin:2px 0px 4px 10px; float:left; }
.server_title{ margin:10px 10px 50px 0px; padding:13px 10px 10px 10px;}
#server_version{ color: #ccc; }
#server_status{	color:red; }
#server_on_off{ float:right; }

