html, body{ font-family:arial; font-size:12px; }
.container { padding:5px; width:900px; margin:0 auto; }
.ConfigKeys { font-size:13px; }
.odd { background-color:eeeeff; }
.num { width:45px; border:1px solid lightgray; }
.ip { width:105px; border:1px solid lightgray; }
.file { width:225px; border:1px solid lightgray; }
.msg { font-size:10px; font-style:italic; color:gray; }
.disb { cursor:pointer; }
.rmv { margin-right:5px; float:right; }
.mySelect { border:none; min-width:50px; }
.control { min-width:65px; }
.input { text-align:right; padding:2px; }
.hideme {
	padding:0px;
	text-decoration: none;
	margin:0px;
	/* background-color:#eeeeff; */
	font-size:13px;
	border:0;
	text-align:left;
}

td {
	padding: 2px 5px 2px 5px;
}
tr:nth-child(odd)    { background-color:#eee; }
tr:nth-child(even)    { background-color:#fff; }
