[submodule "root/static/js/Flexigrid"]
	path = root/static/js/Flexigrid
	url = https://github.com/paulopmx/Flexigrid.git
[submodule "root/static/js/jQuery-contextMenu"]
	path = root/static/js/jQuery-contextMenu
	url = https://github.com/medialize/jQuery-contextMenu.git
[submodule "/home/ovpnc/Ovpnc/root/static/js/jQuery-Validation"]
	path = /home/ovpnc/Ovpnc/root/static/js/jQuery-Validation
	url = https://github.com/jzaefferer/jquery-validation.git
