# Ovpnc git ignore list
openvpn.conf.ovpnc*
start_dev_server
ovpnc_fastcgi.pl
ovpnc_create.pl
ovpnc_cgi.pl
.mysql
.htpasswd
blib/*
inc/*
MYMETA.*
META.yml
Makefile
tmp/session/*
tmp/cache/.*
*.old
*.save
*.key
root/static/built/*
openvpn/conf/ccd/*
openvpn/conf/2.0/keys/*
openvpn/var/run/*
openvpn/tmp/*
openvpn/var/log/*
ipp.txt
openvpn/lib64
openvpn/lib
openvpn/bin/
openvpn/conf/2.0/*
