[% CALL assets.include("js/password_strength_plugin.js") %]
[% CALL assets.include("js/mersenne-twister.js") %]
<!-- form for /certificates/add -->
<div id="add_form" style="font-size:1em;"> 
    [% form %]
</div>
<script>
    // Set events for form
    // input fields and submit
    $.addCertificate().set_form_events();
</script>



