<div class="logs_container">
	<div id="logs_table">
	  <table id="flexme" style="" cellpadding="0" cellspacing="0" border="0">
	  </table>
	</div><!-- logs_table -->
</div>
<script type="text/javascript">
    $(document).ready(function(){
    	$.Logs().setLogsTable('/api/server/logs');
        //$.Logs().getServerLogs();
    });
</script>
