[% CALL assets.include("js/password_strength_plugin.js") %]
[% CALL assets.include("js/mersenne-twister.js") %]
<div id="add_client">
    [% form %]
</div>
<script>
    // Set events for form
    // input fields and submit
    $.addClient().set_form_events();
</script>
